# Ignore TensorFlow model & tokenizer
# spam_classifier_lstm.h5
# tokenizer.pkl
untitled27.py

# Ignore Python cache & environment files
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Ignore VS Code settings
.vscode/

# Ignore dataset CSV files (if needed)
*.csv
